Package: me.lightmann.sortingswipe
Name: SortingSwipe
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 1.0.3.0.1
Architecture: iphoneos-arm
Description: Sort your homescreen icons with a swipe!
Maintainer: Lightmann
Author: Lightmann
Section: Tweaks
Icon: https://raw.githubusercontent.com/UsrLightmann/SortingSwipe/master/icon.png
